body {
  background-color: #bcdee7;
  font-family: "Roboto", sans-serif;
}

.containerCard {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 70%;
  max-width: 649px;
}
.rightSideContainer {
  flex-basis: 50%;
  padding: 20px;
  border-right: 3px dashed #f0f0f0;
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightside img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: #f0f0f0;
  border-width: 10px;
  border-style: solid;
}
.rightside .fullname {
  color: #ff4444;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}
.rightside .description {
  margin-top: 0;
  color: #626262;
  font-size: 20px;
  text-transform: capitalize;
}

.someText {
  padding: 20px;
  color: #626262;
  line-height: 1.4;
}

.leftSideContainer {
  flex-basis: 50%;
  position: relative;
}
.leftSideContainer ul {
  list-style: none;
  padding-left: 3px;
  position: absolute;
  bottom: 15px;
}

.leftSideContainer ul li {
  display: inline-block;
  padding: 0 16px;
}
.leftSideContainer ul li i {
  color: #ff4444;
}

@media (max-width: 628px) {
  .card {
    display: flex;
    flex-direction: column;
  }
  .rightSideContainer {
    padding-bottom: 0;
    border-bottom: 3px dashed #f0f0f0;
    border-right: none;
  }

  .someText {
    padding-top: 0;
  }
  .leftSideContainer ul {
    position: unset;
  }
  .leftSideContainer ul li {
    padding: 0 34px;
  }
}
