html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  height: 100%;
  overflow-y: hidden;
}

/* Generale Styling */
a {
  color: #71d99e;
  text-transform: capitalize;
}

img {
  max-width: 100%;
}

/* Start Main Nav */

.main-nav {
  background-color: #1e4040;
  color: #71d99e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  height: 70px;
}
.main-nav .left-item .logo {
  display: inline-block;
  margin-left: 0.25rem;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-nav .right-item {
  display: flex;
}
.main-nav .right-item i {
  display: block;
  margin-left: 22px;
}
.main-nav .right-item a {
  margin-left: 15px;
}

/* End Main Nav */

/* Start Container*/

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}
.content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100% - 70px);
}

.right-content,
.left-content {
  padding: 20px;
}

.left-content img {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
}

.right-content .images-block {
  margin-top: 32px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.right-content .images-block .item2 {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
  transform: scale(1.1);
}
.right-content .images-block .item1 {
  transform: rotate(3deg);
  position: relative;
  z-index: 1;
}
.right-content .images-block .item3 {
  transform: rotate(-3deg);
  position: relative;
  z-index: 1;
}
.side-nav {
  border-right: 4px solid #f4f4f4;
}
.side-nav nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.side-nav nav div {
  margin-bottom: 20px;
}
.side-nav nav i {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.side-nav nav a {
  color: #000;
  text-decoration: none;
  text-align: center;
}

/* End Container*/

/* Start Footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e4040;
  color: #71d99e;
}

/* End Footer*/

/*Media Query*/
@media (min-width: 920px) {
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
  }
  .content {
    display: grid;
    grid-template-columns: 60% 40%;
    height: calc(100% - 70px);
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/*

.container {
  grid-template-columns: 100%;

}


.side-nav {
  display: none;
}



*/
